body {
font-family: Arial, "Times New Roman", Georgia;
background-color: #5F9EA0

}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #C0C0C0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}

h1 {
    color: #708090;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration: bold;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 12px;
    border: 3px solid #1E90FF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

a {
    color: ;
    text-decoration: none;
    font-weight: 600;

}

a:hover {
    text-decoration: underline;
    color: #104E8B;
}
